body {
    background-color: #f7f8fa ;
    margin-top: 50px;
}
/*header*/
#header {
    display: block;
    box-sizing: border-box;
    background-color: #f7f8fa;
    padding-bottom: 50px;
}
.navbar {
    background-color: #f7f8fa;
    color: black;
    
}
.navbar-center {
    display: flex;
    margin: 0 auto;
    margin-left: 80;
    font-family: Poppins,serif;
    color: black;
}
.navbar-center img {
    margin-top: -3;
    margin-left: 20;
}

.navbar-center2 {
    display: none;
    margin: 0 auto;
    font-family: Poppins,serif;
    color: black;   
    overflow: hidden;
    background: rgb(196, 219, 240);
    margin-left: auto;
}
.topnav {
    position: relative;
    overflow: hidden;
    height: auto;
    display: flex;
    width: auto;
}
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.topnav a:hover {
    text-decoration: none;
}
.topnav a.active{
    background-color:rgb(121, 193, 241) ;
    margin-left: 50px;
    white-space: nowrap;
    color:white;
    height: 50px;
}
.navbar-center a {
    color: black;
}

.navbar-center{
    float: left;
}
#logokiper {
    margin-left: 100px;
}
/*part2*/
.part2 {
    background-color: #f7f8fa;
    text-align: center;
    box-sizing: border-box;
    display: block;
}
.title1 {
    font-weight: 600px;
    font-size: 25px;
    margin-bottom: .5rem;
    line-height: 1.2;
    
}
.title2{
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: 0;
    display: block;
    font-weight: 300px;
    font-size: 20px;
    font-family: Garamond;

}
.part22{
    margin-top: 50;
    cursor: pointer;
    
}
.part22 a:hover {
    text-decoration: none;
    background-color: #2a6d98;
    color: white !important;
}
  
/*contenu de la page*/
.container {
    background-color: white!important;
}
/*part3*/ 

.part31 {
    display: flex;
    padding: 100px 0;
    background-color: white!important;
}

.part311 {
    display: block;
   
    margin-top: 40;
}

.part312 {
    float: left;
    margin-left: 125px;
    margin-right: 100;
}

.title3 {
    color: #6e6e6e;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins,sans-serif;
}
.title4 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins,sans-serif;
}

/*part4*/

.part4 {
    background-color: white!important;
    display: block;
    padding: 0 100;
}
.part41 {
    display: block;
    margin-top: 100;
    margin-bottom: 100;
    background-color: white!important;
}
.part411{
    margin-left: 38%;
    margin-right: 38%;
    background-color: white!important;
}
.atout{
    
    font-size: 35px;
    font-family: Poppins,sans-serif;
    color: #000;
    background-color: white!important;
}

.part412 {
    display: block;
    background-color: white!important;
}
.row1 {
    display: flex;
    padding-bottom: 30;
}
.row2 {
    display: flex;
}
.part4121 {
    
    width: 890;
    height: 310;
    float: left;
    margin-left: 0;
    border: 1px solid #bbbbf2;;
}
.part4122 {
    float: left;
    margin-left: 100;
    border: 1px solid #bbbbf2;;
    width: 890;
    height: 310;
    margin-top: 50;
  
}
.part4123 {
    width: 890;
    height: 310;
    float: left;
    margin-left: 0;
    border: 1px solid #bbbbf2;;
}
.part4124 {
    float: left;
    margin-left: 100;
    border: 1px solid #bbbbf2;;
    width: 890;
    height: 310;
    margin-top: 50;
  
}

.title5 {
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.texte{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 20;
    text-align: center;
}
/*partie5*/

.part51 {
    display: flex;
    padding: 100px 0;
    background-color: white!important;
}

.part511 {
    display: block;
    margin-left: 125;
    margin-top: 100;
}

.part512 {
    float: left;
    margin-left: 125px;
    margin-right: 100;
}
.title51 {
    color: #6e6e6e;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins,sans-serif;
}
.title52 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins,sans-serif;
}

/*part6*/

.part61 {
    display: flex;
    padding: 10px 0;
    background-color: white!important;
}

.part611 {
    display: block;
    margin-left: 125;
    margin-top: 100;
}

.part612 {
    float: left;
    margin-left: 125px;
    margin-right: 100;
}
/*part7*/
.part7 {
    display: grid;
}
.part71 {
    padding: 78px 0 48px;
    text-align: center;
}
.title71 {
    font-size: 35px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.part72 {
    margin-bottom: 100px;
    margin-right: -25px;
    margin-left: -65px;
    display: flex;
    float: left;
}
.part72 a {
    margin-left: 75;
    text-decoration: none;
}
.part72 a:hover {
    text-decoration: none;
}
.title72 {
    color: #2a6d98;
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
    font-size: 20px;
   
}
.card {
    border: none !important;
}
.card img:hover {
    zoom: 1;
}
.text-card {
    color: #6e6e6e!important;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1rem;
    
}
/*part 8*/

.part81 {
    display: flex;
    background-color: white!important;
}

.part811 {
    display: flex;
    margin-top: 40;
}

.part812 {
    float: left;
    margin-right: 70;
}
.title8 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins,sans-serif;
    padding-top: 100px;
}

.footer {
    font-family: Poppins,sans-serif;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: white!important;
    margin-top: 70;
    padding-top: 30;
    padding-bottom: 30;
}
.footer-text a:hover {
    text-decoration: none;
}

/*part9*/

.part9 {
    background-image: url(bibliotheque.jpeg);
    height: 400px;
}
.part91 {
    background:#57b1e9 !important ;
    opacity: 0.9;
    height: 100%;
    width: 65%;
    padding: 110px 100px 100 200;
    margin-top: 100px;
}
.title9 {
    color:white!important;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins,sans-serif;
    opacity: 1 !important;
}
.part91 ul li a {
    color: white !important;
    opacity: 1 !important;
    font-size: 40 px;
    font-family: Poppins,sans-serif;
   
}
.part91 ul li a:hover {
    text-decoration: none;
    opacity: 0.5 !important;
}
.part91 ul li {
    list-style: none;
    padding-bottom: 10;
}

/*part10*/

.part10 {
    background-image: url(acceder-bios-pc.jpg);
    height: 400px;
}
.part101 {
    background:#57b1e9 !important ;
    opacity: 0.9;
    height: 100%;
    width: 65%;
    padding: 110px 100px 100 200;
    margin-top: 50px;
}
.title10 {
    color:white!important;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins,sans-serif;
    opacity: 1 !important;
}
.part101 ul li a {
    color: white !important;
    opacity: 1 !important;
    font-size: 40 px;
    font-family: Poppins,sans-serif;  
}
.part101 ul li a:hover {
    text-decoration: none;
    opacity: 0.5 !important;
}
.part101 ul li {
    list-style: none;
    padding-bottom: 10;
}

/*part11*/

.part11 {
    background-image: url(pc.jpg);
    height: 400px;
}
.part111 {
    background:#57b1e9 !important ;
    opacity: 0.9;
    height: 100%;
    width: 65%;
    padding: 110px 100px 100 200;
    margin-top: 50px;
}
.title11 {
    color:white!important;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Poppins,sans-serif;
    opacity: 1 !important;
}
.part111 ul li a {
    color: white !important;
    opacity: 1 !important;
    font-size: 40 px;
    font-family: Poppins,sans-serif;  
}
.part111 ul li a:hover {
    text-decoration: none;
    opacity: 0.5 !important;
}
.part111 ul li {
    list-style: none;
    padding-bottom: 10;
}

/*part12*/

.part12 {
    margin-top: 3rem;
    border: 1px solid transparent;
    background: rgb(214, 222, 233) !important;
    height: 350px;
}
.texte12{
    margin-left: 238px;
    margin-right: 262px;
    margin-top: 90px;
}
.part12 a {
    border: 2px solid #2a6d98;
    padding: 10px 33px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins,sans-serif;
    font-size: .875rem;
    color: #2a6d98;
}
.part12 a:hover {
    text-decoration: none;
    background-color: #2a6d98;
    color: white;
}
.title121 {
    text-align: center;
    margin-bottom: 15px;
    font-family: Poppins,sans-serif;
    color: #000;
    font-size: 30px;
    
}
.title122 {
    text-align: center;
    color: #6e6e6e!important;
    font-size: 20px;
    font-family: Poppins,sans-serif;
}

.end-1 {
    display: flex;
  
   
    margin-right: -15px;
    margin-left: -15px;
    font-family: Poppins,sans-serif;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding: 30 45;
    background-color: white!important;
}
.column1{
   
    padding-left: 15px;
}
.column2 {
   
    padding-left: 80px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.column3 {
    
    padding-left: 80px;
    display: grid;
    
}
.column4 {
    
    padding-left: 80px;
    color: #6e6e6e!important;
}
.column3 a {
    text-decoration: none;
    color: #6e6e6e!important;
}
.column3 a:hover {
    text-decoration: none;
}
.col-title {
    padding-bottom: .5rem!important;
    font-size: 20px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.col2-text {
    color: #6e6e6e!important;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left!important;
}
form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}
.col2-button{
    padding-top: 1rem!important;
}
.button-col2{
    cursor: pointer;
    color: #fff;
    font-size: .875rem;
    font-family: Poppins,sans-serif;
    padding: .625rem 1.25rem;
    outline: none;
    background-color: #221e1e;
    border-color: #221e1e;
}
.button-col2 :hover{
    background-color: white;
    color: black;
}


@media screen and (max-width: 1100px){
    body{
        background-color: #f7f8fa;
    }
    .navbar-center{
       display: none;
       
    }
    
    .navbar-center2 {
       display: grid;
        margin: 0 auto;
        margin-left: auto;
        margin-right: inherit;
        font-family: Poppins,serif;
        color: black;
    }
    .navbar-center2 img {
        margin-left: 60;
        margin-bottom: 15;
    }
    .part31 {
        display: block;
    }
    .part312 {
        margin-left: 0;
        padding-top: 30;
    }
    .part4 {
        padding: 0;
    }
    .part411 {
        margin-left: 31%;
        margin-right: 31%;
    }
    .part41 {
        margin-top: 370px;
    }
    .row1 {
        display: grid;
    }
    .row2 {
        display: grid;
    }
    .part4121 {
        width: 400;
        margin-left: 125;
    }
    .part4122 {
        margin-left: 125;
        width: 400;
    }
    .part4123 {
        width: 400;
        margin-left: 125;
    }
    .part4124 {
        margin-left: 125;
        width: 400;
    }
    .part51 {
        display: block;
    }
    .part511 {
        margin-left: 0;
        margin-top: 30;
    } 
    .part61 {
        display: block;
    }
    .part611 {
        margin-left: 0;
    }
    .part811 {
        display: block;
    }
    .texte12 {
        margin-left: 74;
        margin-right: 74;
    }
    .title123 {
        margin-left: 240px !important;
    }
    .end-1 {
        display: block;
    }